/* Nav settings  */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  position: relative; }

a {
  color: black;
  border-bottom: 1px dashed black;
  text-decoration: none; }

a:hover, a:active {
  color: #ffc107;
  border-bottom-color: #ffc107;
  text-decoration: none; }

nav a {
  border-bottom: none; }

/*
@media (max-width: 576px) { //on mobiles, fix nav to bottom
  .fixed-top {
  top: initial;
  bottom: 0;
  }
  body {
  padding-top: 0;
  }
}
*/
section {
  padding: 2em 0; }

.card-header figure {
  margin: 0; }

.card {
  margin: 1rem 0; }

.vertcentre {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

footer {
  margin-top: 4rem; }
  footer .jumbotron {
    margin-bottom: 0;
    background-color: inherit; }
  footer a {
    color: #f8f9fa;
    border-bottom: none; }

a[href^="http://"]::after, a[href^="https://"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f35d";
  margin-left: 3px; }

.anchor {
  padding-top: 4rem; }

.fa-external-link-alt {
  margin-left: 3px; }

img.img-responsive {
  width: 100%; }

/*div.skills {
	margin: 2rem;
}*/
table#stars {
  max-width: 100%;
  margin: 0 auto; }
  table#stars td:nth-child(1) {
    width: 20%;
    min-width: 200px; }
  table#stars td:nth-child(2) {
    min-width: 120px;
    text-align: center; }
  table#stars td:nth-child(3) {
    max-width: 200px; }
  table#stars td:nth-child(4) {
    min-width: 250px;
    white-space: nowrap; }

.table-responsive {
  /* Scrolling shadows by @kizmarh and @leaverou */
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white)), -webkit-gradient(linear, left top, right top, from(white), to(white)), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, white, white), -webkit-linear-gradient(left, white, white), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)), -webkit-linear-gradient(right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, white, white), -o-linear-gradient(left, white, white), -o-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)), -o-linear-gradient(right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll; }

@media (max-width: 750px) {
  table#stars td:nth-child(3) {
    display: none; } }

.fa-quote-left {
  margin-right: 10px; }

#navbot .navbar-nav {
  margin: 0 auto; }

.post-meta {
  text-transform: uppercase;
  margin-bottom: 18px;
  padding-bottom: 10px;
  font-size: 12px;
  border-bottom: 1px solid #F5F5F5; }

.timeline {
  position: relative;
  padding: 21px 0px 10px;
  margin-top: 4px;
  margin-bottom: 30px; }

.timeline .line {
  position: absolute;
  width: 4px;
  display: block;
  background: currentColor;
  top: 0px;
  bottom: 0px;
  margin-left: 30px;
  z-index: -1; }

.timeline .separator {
  border-top: 4px solid currentColor;
  padding: 5px;
  padding-left: 40px;
  font-style: italic;
  font-size: 1.2em;
  margin-left: 30px;
  margin-top: 3em; }

.timeline .line::before {
  top: -4px; }

.timeline .line::after {
  bottom: -4px; }

.timeline .line::before,
.timeline .line::after {
  content: '';
  position: absolute;
  left: -4px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: currentColor; }

.timeline .card {
  position: relative;
  margin: 10px 0px 21px 70px;
  clear: both; }

.timeline .card::before {
  position: absolute;
  display: block;
  top: 8px;
  left: -24px;
  content: '';
  width: 0px;
  height: 0px;
  border: inherit;
  border-width: 12px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.timeline article.bg-primary.card::before {
  border-right-color: #007bff; }

.timeline article.bg-info.card::before {
  border-right-color: #17a2b8; }

.timeline .card .card-header.icon * {
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px; }

.timeline .card .card-header.icon {
  position: absolute;
  left: -59px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  float: left; }

.timeline .card-outline {
  border-color: transparent;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

.timeline .card-outline .card-body {
  padding: 10px; }

.timeline .card-outline .card-heading:not(.icon),
.timeline .card-outline .card-footer {
  display: none; }

.timeline .card-body span {
  white-space: nowrap; }
