{
  "name": "Sales - Personal Portfolio",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "preprocessed/global.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "preprocessed/normalise.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "preprocessed/index2.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "preprocessed/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "preprocessed/home.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"home.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "preprocessed/eg-redcupcafe2017.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"eg-redcupcafe2017.html\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "preprocessed/index-nav.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "preprocessed/portfolio-RedCupCafe2017.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"portfolio-RedCupCafe2017.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "preprocessed/portfolio-NatWild2017.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"portfolio-NatWild2017.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "preprocessed/fontawesome/fontawesome.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/fontawesome.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "preprocessed/fontawesome/fa-regular.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "preprocessed/fontawesome/fa-brands.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "preprocessed",
      "preprocessed/fontawesome"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "old/normalise.scss",
      "imports": [
        "old/_variables.scss",
        "old/_vertical-rhythm.scss"
      ]
    },
    {
      "path": "preprocessed/index.pug",
      "imports": [
        "preprocessed/index-start.pug",
        "preprocessed/home.pug",
        "preprocessed/index-nav.pug",
        "preprocessed/index-end.pug"
      ]
    },
    {
      "path": "preprocessed/portfolio-NatWild2017.pug",
      "imports": [
        "preprocessed/index-start.pug",
        "preprocessed/eg-natwild2017.pug",
        "preprocessed/index-nav.pug",
        "preprocessed/index-end.pug"
      ]
    },
    {
      "path": "preprocessed/portfolio-RedCupCafe2017.pug",
      "imports": [
        "preprocessed/index-start.pug",
        "preprocessed/eg-redcupcafe2017.pug",
        "preprocessed/index-nav.pug",
        "preprocessed/index-end.pug"
      ]
    },
    {
      "path": "preprocessed/fontawesome/fa-brands.scss",
      "imports": [
        "preprocessed/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "preprocessed/fontawesome/fa-regular.scss",
      "imports": [
        "preprocessed/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "preprocessed/fontawesome/fa-solid.scss",
      "imports": [
        "preprocessed/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "preprocessed/fontawesome/fontawesome.scss",
      "imports": [
        "preprocessed/fontawesome/_variables.scss",
        "preprocessed/fontawesome/_mixins.scss",
        "preprocessed/fontawesome/_core.scss",
        "preprocessed/fontawesome/_larger.scss",
        "preprocessed/fontawesome/_fixed-width.scss",
        "preprocessed/fontawesome/_list.scss",
        "preprocessed/fontawesome/_bordered-pulled.scss",
        "preprocessed/fontawesome/_animated.scss",
        "preprocessed/fontawesome/_rotated-flipped.scss",
        "preprocessed/fontawesome/_stacked.scss",
        "preprocessed/fontawesome/_icons.scss",
        "preprocessed/fontawesome/_screen-reader.scss",
        "preprocessed/fontawesome/fa-solid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.nathankeen.id.au",
      "port": 21,
      "user": "portfolio@nathankeen.id.au",
      "password": "3R!j6pu#c2kRVg3edny9Vauu#Ax6!F"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "*.ini",
      "*.git*",
      "README.md",
      "preprocessed"
    ],
    "history": [
      {
        "file": ".gitattributes",
        "ctime": "2018-01-04T01:13:24.718Z",
        "mtime": "2018-01-04T01:09:24.062Z",
        "size": 66
      },
      {
        "file": ".gitignore",
        "ctime": "2018-01-04T01:24:03.873Z",
        "mtime": "2018-01-04T01:24:03.873Z",
        "size": 16
      },
      {
        "file": "css/layout.css",
        "ctime": "2018-01-05T05:19:18.095Z",
        "mtime": "2018-01-05T05:19:18.095Z",
        "size": 2931
      },
      {
        "file": "home.html",
        "ctime": "2018-01-01T23:33:51.039Z",
        "mtime": "2018-01-01T23:33:51.039Z",
        "size": 0
      },
      {
        "file": "images/ux-portfolio/20171229 portfolio desktop wireframe",
        "ctime": "2017-12-29T03:53:53.883Z",
        "mtime": "2017-12-29T03:53:53.883Z",
        "size": 445291
      },
      {
        "file": "images/ux-portfolio/20180105-portfolio-tablet.jpg",
        "ctime": "2018-01-05T05:17:17.653Z",
        "mtime": "2018-01-05T05:17:17.000Z",
        "size": 155983
      },
      {
        "file": "images/ux-portfolio/26-12-2017 portfolio-desktop-wireframe.jpg",
        "ctime": "2017-12-26T10:40:46.626Z",
        "mtime": "2017-12-26T10:40:46.000Z",
        "size": 380891
      },
      {
        "file": "images/ux-portfolio/26-12-2017 portfolio-mobile-wireframe.jpg",
        "ctime": "2017-12-26T10:40:30.020Z",
        "mtime": "2017-12-26T10:40:30.000Z",
        "size": 97841
      },
      {
        "file": "images/ux-portfolio/ford.jpg",
        "ctime": "2018-01-02T01:30:10.426Z",
        "mtime": "2018-01-02T01:29:33.427Z",
        "size": 27373
      },
      {
        "file": "images/ux-portfolio/natwild-website.jpg",
        "ctime": "2018-01-04T23:57:37.681Z",
        "mtime": "2018-01-04T23:56:58.776Z",
        "size": 149038
      },
      {
        "file": "images/ux-portfolio/pm-parallel.jpg",
        "ctime": "2018-01-04T06:49:53.532Z",
        "mtime": "2018-01-04T06:49:53.000Z",
        "size": 21246
      },
      {
        "file": "images/ux-portfolio/redcup-ecommerce.png",
        "ctime": "2018-01-04T06:01:00.270Z",
        "mtime": "2018-01-04T06:01:00.270Z",
        "size": 36286
      },
      {
        "file": "images/ux-portfolio/redcup-isometric1.jpg",
        "ctime": "2018-01-04T05:44:41.209Z",
        "mtime": "2018-01-04T05:44:41.209Z",
        "size": 53770
      },
      {
        "file": "images/ux-portfolio/redcup-isometric2.jpg",
        "ctime": "2018-01-04T05:48:15.468Z",
        "mtime": "2017-11-29T07:17:19.395Z",
        "size": 131381
      },
      {
        "file": "images/ux-portfolio/redcup-javascript.jpg",
        "ctime": "2018-01-02T23:56:25.632Z",
        "mtime": "2018-01-02T23:56:25.532Z",
        "size": 31805
      },
      {
        "file": "images/ux-portfolio/redcup-ja_mono.jpg",
        "ctime": "2018-01-02T23:37:13.802Z",
        "mtime": "2018-01-02T23:36:41.786Z",
        "size": 185091
      },
      {
        "file": "images/ux-portfolio/redcup-menu-horiz-and-vertical.jpg",
        "ctime": "2018-01-04T05:07:04.590Z",
        "mtime": "2018-01-04T05:07:04.590Z",
        "size": 28246
      },
      {
        "file": "images/ux-portfolio/redcup-persona-bob.jpg",
        "ctime": "2018-01-02T04:09:38.569Z",
        "mtime": "2018-01-02T04:09:38.569Z",
        "size": 10123
      },
      {
        "file": "images/ux-portfolio/redcup-persona-eric.png",
        "ctime": "2018-01-02T06:15:40.426Z",
        "mtime": "2018-01-02T06:15:40.426Z",
        "size": 124641
      },
      {
        "file": "images/ux-portfolio/redcup-prototypes-1.jpg",
        "ctime": "2018-01-04T05:03:34.003Z",
        "mtime": "2018-01-04T05:03:34.003Z",
        "size": 77703
      },
      {
        "file": "images/ux-portfolio/redcup-prototypes-2.jpg",
        "ctime": "2018-01-04T05:05:29.219Z",
        "mtime": "2018-01-04T05:05:29.219Z",
        "size": 21916
      },
      {
        "file": "images/ux-portfolio/redcup-prototypes-hi1.jpg",
        "ctime": "2018-01-04T05:36:44.237Z",
        "mtime": "2018-01-04T05:36:44.237Z",
        "size": 29739
      },
      {
        "file": "images/ux-portfolio/redcup-speed-optimising.png",
        "ctime": "2018-01-03T00:10:40.148Z",
        "mtime": "2018-01-03T00:10:40.148Z",
        "size": 37201
      },
      {
        "file": "images/ux-portfolio/redcup-target-audience-time.png",
        "ctime": "2018-01-02T03:37:14.962Z",
        "mtime": "2018-01-02T03:37:14.000Z",
        "size": 38356
      },
      {
        "file": "images/ux-portfolio/redcup-target-audience.png",
        "ctime": "2018-01-02T03:19:21.589Z",
        "mtime": "2018-01-02T03:19:21.000Z",
        "size": 51680
      },
      {
        "file": "images/ux-portfolio/redcup-user-scenarios.jpg",
        "ctime": "2018-01-02T06:56:32.444Z",
        "mtime": "2018-01-02T02:12:23.000Z",
        "size": 124671
      },
      {
        "file": "images/ux-portfolio/redcup-user-scenarios.png",
        "ctime": "2018-01-02T22:40:55.929Z",
        "mtime": "2018-01-02T22:40:55.000Z",
        "size": 37725
      },
      {
        "file": "images/ux-portfolio/ui-natwild.jpg",
        "ctime": "2018-01-04T23:58:02.769Z",
        "mtime": "2018-01-04T23:43:39.000Z",
        "size": 70344
      },
      {
        "file": "images/ux-portfolio/ui-redcup.jpg",
        "ctime": "2018-01-05T04:42:05.899Z",
        "mtime": "2018-01-05T04:42:05.838Z",
        "size": 39666
      },
      {
        "file": "index.html",
        "ctime": "2018-01-05T06:05:12.774Z",
        "mtime": "2018-01-05T06:05:12.774Z",
        "size": 22885
      },
      {
        "file": "js/custom.js",
        "ctime": "2018-01-04T06:21:16.664Z",
        "mtime": "2018-01-04T06:21:16.664Z",
        "size": 299
      },
      {
        "file": "old/index.html",
        "ctime": "2017-12-28T04:43:14.076Z",
        "mtime": "2017-12-28T02:48:12.951Z",
        "size": 7637
      },
      {
        "file": "portfolio-NatWild2017.html",
        "ctime": "2018-01-05T06:05:19.464Z",
        "mtime": "2018-01-05T06:05:19.464Z",
        "size": 4874
      },
      {
        "file": "portfolio-RedCupCafe2017.html",
        "ctime": "2018-01-05T06:05:23.243Z",
        "mtime": "2018-01-05T06:05:23.243Z",
        "size": 28366
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../css\"},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}