{
  "name": "Sales - Personal Portfolio",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "preprocessed/global.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "preprocessed/normalise.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "preprocessed/index2.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "preprocessed/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "preprocessed/home.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"home.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "preprocessed/eg-redcupcafe2017.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"eg-redcupcafe2017.html\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "preprocessed/index-nav.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "preprocessed/portfolio-RedCupCafe2017.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"portfolio-RedCupCafe2017.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "preprocessed/portfolio-NatWild2017.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"portfolio-NatWild2017.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "preprocessed/fontawesome/fontawesome.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/fontawesome.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "preprocessed/fontawesome/fa-regular.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "preprocessed/fontawesome/fa-brands.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "preprocessed/portfolio-2018.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"portfolio-2018.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "preprocessed/work-experience.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"work-experience.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "preprocessed"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "old/normalise.scss",
      "imports": [
        "old/_variables.scss",
        "old/_vertical-rhythm.scss"
      ]
    },
    {
      "path": "preprocessed/index.pug",
      "imports": [
        "preprocessed/index-start.pug",
        "preprocessed/home.pug",
        "preprocessed/index-nav.pug",
        "preprocessed/index-end.pug"
      ]
    },
    {
      "path": "preprocessed/portfolio-2018.pug",
      "imports": [
        "preprocessed/index-start.pug",
        "preprocessed/eg-portfolio2018.pug",
        "preprocessed/index-nav.pug",
        "preprocessed/index-end.pug"
      ]
    },
    {
      "path": "preprocessed/portfolio-NatWild2017.pug",
      "imports": [
        "preprocessed/index-start.pug",
        "preprocessed/eg-natwild2017.pug",
        "preprocessed/index-nav.pug",
        "preprocessed/index-end.pug"
      ]
    },
    {
      "path": "preprocessed/portfolio-RedCupCafe2017.pug",
      "imports": [
        "preprocessed/index-start.pug",
        "preprocessed/eg-redcupcafe2017.pug",
        "preprocessed/index-nav.pug",
        "preprocessed/index-end.pug"
      ]
    },
    {
      "path": "preprocessed/work-experience.pug",
      "imports": [
        "preprocessed/index-start.pug",
        "preprocessed/eg-workexperience.pug",
        "preprocessed/index-nav.pug",
        "preprocessed/index-end.pug"
      ]
    },
    {
      "path": "preprocessed/fontawesome/fa-brands.scss",
      "imports": [
        "preprocessed/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "preprocessed/fontawesome/fa-regular.scss",
      "imports": [
        "preprocessed/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "preprocessed/fontawesome/fa-solid.scss",
      "imports": [
        "preprocessed/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "preprocessed/fontawesome/fontawesome.scss",
      "imports": [
        "preprocessed/fontawesome/_variables.scss",
        "preprocessed/fontawesome/_mixins.scss",
        "preprocessed/fontawesome/_core.scss",
        "preprocessed/fontawesome/_larger.scss",
        "preprocessed/fontawesome/_fixed-width.scss",
        "preprocessed/fontawesome/_list.scss",
        "preprocessed/fontawesome/_bordered-pulled.scss",
        "preprocessed/fontawesome/_animated.scss",
        "preprocessed/fontawesome/_rotated-flipped.scss",
        "preprocessed/fontawesome/_stacked.scss",
        "preprocessed/fontawesome/_icons.scss",
        "preprocessed/fontawesome/_screen-reader.scss",
        "preprocessed/fontawesome/fa-solid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.nathankeen.id.au",
      "port": 21,
      "user": "portfolio@nathankeen.id.au",
      "password": "3R!j6pu#c2kRVg3edny9Vauu#Ax6!F"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "*.ini",
      "*.git*",
      "README.md",
      "preprocessed"
    ],
    "history": [
      {
        "file": ".gitattributes",
        "ctime": "2018-01-04T01:13:24.718Z",
        "mtime": "2018-01-04T01:09:24.062Z",
        "size": 66
      },
      {
        "file": ".gitignore",
        "ctime": "2018-01-04T01:24:03.873Z",
        "mtime": "2018-01-04T01:24:03.873Z",
        "size": 16
      },
      {
        "file": "css/layout.css",
        "ctime": "2018-01-11T21:56:54.523Z",
        "mtime": "2018-01-11T21:56:54.523Z",
        "size": 5345
      },
      {
        "file": "images/ux-portfolio/20180105-portfolio-tablet.jpg",
        "ctime": "2018-01-05T05:17:17.653Z",
        "mtime": "2018-01-05T05:17:17.000Z",
        "size": 155983
      },
      {
        "file": "images/ux-portfolio/26-12-2017 portfolio-desktop-wireframe.jpg",
        "ctime": "2018-01-09T06:50:32.843Z",
        "mtime": "2017-12-26T10:40:46.000Z",
        "size": 380891
      },
      {
        "file": "images/ux-portfolio/26-12-2017 portfolio-mobile-wireframe.jpg",
        "ctime": "2018-01-09T06:50:45.796Z",
        "mtime": "2017-12-26T10:40:30.000Z",
        "size": 97841
      },
      {
        "file": "images/ux-portfolio/ford.jpg",
        "ctime": "2018-01-02T01:30:10.426Z",
        "mtime": "2018-01-02T01:29:33.427Z",
        "size": 27373
      },
      {
        "file": "images/ux-portfolio/pm-parallel.jpg",
        "ctime": "2018-01-04T06:49:53.532Z",
        "mtime": "2018-01-04T06:49:53.000Z",
        "size": 21246
      },
      {
        "file": "images/ux-portfolio/ui-natwild.jpg",
        "ctime": "2018-01-04T23:58:02.769Z",
        "mtime": "2018-01-04T23:43:39.000Z",
        "size": 70344
      },
      {
        "file": "index.html",
        "ctime": "2018-01-12T01:00:32.741Z",
        "mtime": "2018-01-12T01:00:32.741Z",
        "size": 24850
      },
      {
        "file": "js/custom.js",
        "ctime": "2018-01-08T07:37:35.280Z",
        "mtime": "2018-01-08T07:37:35.280Z",
        "size": 2732
      },
      {
        "file": "old/index.html",
        "ctime": "2017-12-28T04:43:14.076Z",
        "mtime": "2017-12-28T02:48:12.951Z",
        "size": 7637
      },
      {
        "file": "portfolio-NatWild2017.html",
        "ctime": "2018-01-12T02:37:53.258Z",
        "mtime": "2018-01-12T02:37:53.258Z",
        "size": 30256
      },
      {
        "file": "portfolio-RedCupCafe2017.html",
        "ctime": "2018-01-12T01:00:32.741Z",
        "mtime": "2018-01-12T01:00:32.741Z",
        "size": 29356
      },
      {
        "file": "css/fontawesome.css",
        "ctime": "2018-01-05T07:03:24.226Z",
        "mtime": "2018-01-05T07:03:24.226Z",
        "size": 33342
      },
      {
        "file": "fonts/fa-solid-900.eot",
        "ctime": "2018-01-05T06:24:02.583Z",
        "mtime": "2018-01-05T06:24:02.583Z",
        "size": 97828
      },
      {
        "file": "fonts/fa-solid-900.svg",
        "ctime": "2018-01-05T06:24:02.610Z",
        "mtime": "2018-01-05T06:24:02.610Z",
        "size": 361397
      },
      {
        "file": "fonts/fa-solid-900.ttf",
        "ctime": "2018-01-05T06:24:02.629Z",
        "mtime": "2018-01-05T06:24:02.629Z",
        "size": 97608
      },
      {
        "file": "fonts/fa-solid-900.woff",
        "ctime": "2018-01-05T06:30:22.306Z",
        "mtime": "2018-01-05T06:24:02.646Z",
        "size": 46284
      },
      {
        "file": "fonts/fa-solid-900.woff2",
        "ctime": "2018-01-05T06:24:02.657Z",
        "mtime": "2018-01-05T06:24:02.657Z",
        "size": 36856
      },
      {
        "file": "images/natwild/category-page.jpg",
        "ctime": "2018-01-09T01:28:12.229Z",
        "mtime": "2018-01-09T01:28:12.000Z",
        "size": 69760
      },
      {
        "file": "images/natwild/inside-photo.jpg",
        "ctime": "2018-01-08T23:17:02.566Z",
        "mtime": "2018-01-08T23:17:02.566Z",
        "size": 59002
      },
      {
        "file": "images/natwild/mega-menu.png",
        "ctime": "2018-01-09T01:36:03.530Z",
        "mtime": "2018-01-09T01:36:03.000Z",
        "size": 113702
      },
      {
        "file": "images/natwild/Sitemap-categories.png",
        "ctime": "2018-01-11T08:34:59.863Z",
        "mtime": "2018-01-09T02:27:38.886Z",
        "size": 128834
      },
      {
        "file": "images/natwild/Sitemap-top.png",
        "ctime": "2018-01-09T02:29:39.666Z",
        "mtime": "2018-01-09T02:27:38.866Z",
        "size": 107335
      },
      {
        "file": "images/natwild/subcategories-home.jpg",
        "ctime": "2018-01-09T01:41:55.261Z",
        "mtime": "2018-01-09T01:41:55.000Z",
        "size": 195639
      },
      {
        "file": "images/natwild/template-bestsellers.jpg",
        "ctime": "2018-01-09T00:00:58.803Z",
        "mtime": "2018-01-09T00:00:58.000Z",
        "size": 22804
      },
      {
        "file": "images/natwild/natwild-website.jpg",
        "ctime": "2018-01-09T06:14:48.635Z",
        "mtime": "2018-01-04T23:56:58.776Z",
        "size": 149038
      },
      {
        "file": "images/natwild/order-page.png",
        "ctime": "2018-01-09T03:22:58.969Z",
        "mtime": "2018-01-09T03:22:58.000Z",
        "size": 89610
      },
      {
        "file": "images/natwild/sitemap-thumb.png",
        "ctime": "2018-01-09T05:19:37.460Z",
        "mtime": "2018-01-09T05:19:37.000Z",
        "size": 27600
      },
      {
        "file": "images/natwild/spreadsheet-handle.png",
        "ctime": "2018-01-09T04:06:39.757Z",
        "mtime": "2018-01-09T04:06:39.000Z",
        "size": 15127
      },
      {
        "file": "images/natwild/spreadsheet-option1value.png",
        "ctime": "2018-01-09T04:18:33.189Z",
        "mtime": "2018-01-09T04:18:33.000Z",
        "size": 19542
      },
      {
        "file": "images/natwild/spreadsheet-orig.png",
        "ctime": "2018-01-09T03:30:04.709Z",
        "mtime": "2018-01-09T03:30:04.000Z",
        "size": 23667
      },
      {
        "file": "images/natwild/spreadsheet-seotitle.png",
        "ctime": "2018-01-09T04:02:43.517Z",
        "mtime": "2018-01-09T04:02:43.000Z",
        "size": 26641
      },
      {
        "file": "images/natwild/spreadsheet-SKU.png",
        "ctime": "2018-01-09T03:48:08.799Z",
        "mtime": "2018-01-09T03:48:08.000Z",
        "size": 4367
      },
      {
        "file": "images/natwild/spreadsheet-tags.png",
        "ctime": "2018-01-09T04:12:10.840Z",
        "mtime": "2018-01-09T04:12:10.000Z",
        "size": 24395
      },
      {
        "file": "images/redcup/redcup-ecommerce.png",
        "ctime": "2018-01-09T06:15:32.404Z",
        "mtime": "2018-01-04T06:01:00.270Z",
        "size": 36286
      },
      {
        "file": "images/redcup/redcup-isometric1.jpg",
        "ctime": "2018-01-09T06:15:32.609Z",
        "mtime": "2018-01-04T05:44:41.209Z",
        "size": 53770
      },
      {
        "file": "images/redcup/redcup-isometric2.jpg",
        "ctime": "2018-01-09T06:15:32.409Z",
        "mtime": "2017-11-29T07:17:19.395Z",
        "size": 131381
      },
      {
        "file": "images/redcup/redcup-javascript.jpg",
        "ctime": "2018-01-09T06:15:32.418Z",
        "mtime": "2018-01-02T23:56:25.532Z",
        "size": 31805
      },
      {
        "file": "images/redcup/redcup-ja_mono.jpg",
        "ctime": "2018-01-09T06:15:32.415Z",
        "mtime": "2018-01-02T23:36:41.786Z",
        "size": 185091
      },
      {
        "file": "images/redcup/redcup-menu-horiz-and-vertical.jpg",
        "ctime": "2018-01-09T06:15:32.420Z",
        "mtime": "2018-01-04T05:07:04.590Z",
        "size": 28246
      },
      {
        "file": "images/redcup/redcup-persona-bob.jpg",
        "ctime": "2018-01-09T06:15:32.422Z",
        "mtime": "2018-01-02T04:09:38.569Z",
        "size": 10123
      },
      {
        "file": "images/redcup/redcup-persona-eric.png",
        "ctime": "2018-01-09T06:15:32.676Z",
        "mtime": "2018-01-02T06:15:40.426Z",
        "size": 124641
      },
      {
        "file": "images/redcup/redcup-prototypes-1.jpg",
        "ctime": "2018-01-09T06:15:32.700Z",
        "mtime": "2018-01-04T05:03:34.003Z",
        "size": 77703
      },
      {
        "file": "images/redcup/redcup-prototypes-2.jpg",
        "ctime": "2018-01-09T06:15:32.725Z",
        "mtime": "2018-01-04T05:05:29.219Z",
        "size": 21916
      },
      {
        "file": "images/redcup/redcup-prototypes-hi1.jpg",
        "ctime": "2018-01-09T06:15:32.433Z",
        "mtime": "2018-01-04T05:36:44.237Z",
        "size": 29739
      },
      {
        "file": "images/redcup/redcup-speed-optimising.png",
        "ctime": "2018-01-09T06:15:32.775Z",
        "mtime": "2018-01-03T00:10:40.148Z",
        "size": 37201
      },
      {
        "file": "images/redcup/redcup-target-audience-time.png",
        "ctime": "2018-01-09T06:15:32.443Z",
        "mtime": "2018-01-02T03:37:14.000Z",
        "size": 38356
      },
      {
        "file": "images/redcup/redcup-target-audience.png",
        "ctime": "2018-01-09T06:15:32.441Z",
        "mtime": "2018-01-02T03:19:21.000Z",
        "size": 51680
      },
      {
        "file": "images/redcup/redcup-user-scenarios.jpg",
        "ctime": "2018-01-09T06:15:32.445Z",
        "mtime": "2018-01-02T02:12:23.000Z",
        "size": 124671
      },
      {
        "file": "images/redcup/redcup-user-scenarios.png",
        "ctime": "2018-01-09T06:15:32.398Z",
        "mtime": "2018-01-02T22:40:55.000Z",
        "size": 37725
      },
      {
        "file": "images/redcup/ui-redcup.jpg",
        "ctime": "2018-01-09T06:16:45.020Z",
        "mtime": "2018-01-05T04:42:05.838Z",
        "size": 39666
      },
      {
        "file": "images/ux-portfolio/20171229 portfolio desktop wireframe.png",
        "ctime": "2018-01-09T06:56:58.472Z",
        "mtime": "2017-12-29T03:53:53.883Z",
        "size": 445291
      },
      {
        "file": "images/ux-portfolio/26-12-2017 portfolio-desktop-wireframe.png",
        "ctime": "2018-01-09T06:52:01.410Z",
        "mtime": "2018-01-09T06:52:01.000Z",
        "size": 155125
      },
      {
        "file": "images/ux-portfolio/book-user-story-mapping-sm.jpg",
        "ctime": "2018-01-09T07:39:01.092Z",
        "mtime": "2018-01-09T07:39:01.000Z",
        "size": 58079
      },
      {
        "file": "images/ux-portfolio/book-user-story-mapping.jpg",
        "ctime": "2018-01-09T07:36:44.459Z",
        "mtime": "2018-01-09T07:25:10.282Z",
        "size": 104492
      },
      {
        "file": "portfolio-2018.html",
        "ctime": "2018-01-12T01:00:32.743Z",
        "mtime": "2018-01-12T01:00:32.743Z",
        "size": 10141
      },
      {
        "file": "images/ux-portfolio/agile-comparingTechniques.jpg",
        "ctime": "2018-01-09T23:53:42.406Z",
        "mtime": "2018-01-09T23:53:42.406Z",
        "size": 78552
      },
      {
        "file": "images/workxp/work_experience.png",
        "ctime": "2018-01-10T06:00:49.867Z",
        "mtime": "2018-01-10T05:58:10.253Z",
        "size": 155911
      },
      {
        "file": "work-experience.html",
        "ctime": "2018-01-12T01:00:32.741Z",
        "mtime": "2018-01-12T01:00:32.741Z",
        "size": 21560
      },
      {
        "file": "android-chrome-192x192.png",
        "ctime": "2018-01-10T23:57:13.021Z",
        "mtime": "2018-01-10T23:54:04.827Z",
        "size": 3869
      },
      {
        "file": "android-chrome-256x256.png",
        "ctime": "2018-01-10T23:57:13.026Z",
        "mtime": "2018-01-10T23:54:04.938Z",
        "size": 5043
      },
      {
        "file": "apple-touch-icon.png",
        "ctime": "2018-01-10T23:57:13.029Z",
        "mtime": "2018-01-10T23:54:04.906Z",
        "size": 3752
      },
      {
        "file": "browserconfig.xml",
        "ctime": "2018-01-10T23:57:24.879Z",
        "mtime": "2018-01-10T23:54:04.948Z",
        "size": 246
      },
      {
        "file": "favicon-16x16.png",
        "ctime": "2018-01-10T23:57:13.038Z",
        "mtime": "2018-01-10T23:54:04.783Z",
        "size": 943
      },
      {
        "file": "favicon-32x32.png",
        "ctime": "2018-01-10T23:57:13.041Z",
        "mtime": "2018-01-10T23:54:04.891Z",
        "size": 1428
      },
      {
        "file": "favicon.ico",
        "ctime": "2018-01-10T23:57:13.032Z",
        "mtime": "2018-01-10T23:54:04.873Z",
        "size": 15086
      },
      {
        "file": "images/logo-NK-1hdpi.png",
        "ctime": "2018-01-10T23:48:55.158Z",
        "mtime": "2018-01-10T23:48:08.312Z",
        "size": 16262
      },
      {
        "file": "images/logo-NK-1ldpi.png",
        "ctime": "2018-01-10T23:48:58.381Z",
        "mtime": "2018-01-10T23:48:08.287Z",
        "size": 4555
      },
      {
        "file": "images/logo-NK-1mdpi.png",
        "ctime": "2018-01-10T23:52:15.030Z",
        "mtime": "2018-01-10T23:48:08.355Z",
        "size": 10216
      },
      {
        "file": "images/logo-NK-1xhdpi.png",
        "ctime": "2018-01-10T23:49:02.000Z",
        "mtime": "2018-01-10T23:48:08.640Z",
        "size": 23070
      },
      {
        "file": "images/logo-NK-1xxhdpi.png",
        "ctime": "2018-01-11T00:35:50.997Z",
        "mtime": "2018-01-10T23:48:09.090Z",
        "size": 38348
      },
      {
        "file": "images/logo-NK-1xxxhdpi.png",
        "ctime": "2018-01-10T23:49:07.628Z",
        "mtime": "2018-01-10T23:48:09.663Z",
        "size": 54570
      },
      {
        "file": "manifest.json",
        "ctime": "2018-01-10T23:57:24.876Z",
        "mtime": "2018-01-10T23:54:04.920Z",
        "size": 414
      },
      {
        "file": "mstile-150x150.png",
        "ctime": "2018-01-10T23:57:13.044Z",
        "mtime": "2018-01-10T23:54:04.811Z",
        "size": 3473
      },
      {
        "file": "safari-pinned-tab.svg",
        "ctime": "2018-01-10T23:57:13.017Z",
        "mtime": "2018-01-10T23:54:04.845Z",
        "size": 1781
      },
      {
        "file": "images/natwild/quickorder.png",
        "ctime": "2018-01-12T01:31:14.503Z",
        "mtime": "2018-01-12T01:31:14.000Z",
        "size": 10121
      },
      {
        "file": "images/natwild/userflow-currentcustomers.png",
        "ctime": "2018-01-12T00:48:28.911Z",
        "mtime": "2018-01-12T00:48:28.911Z",
        "size": 123454
      },
      {
        "file": "images/natwild/userflow-newcustomer.png",
        "ctime": "2018-01-12T02:01:35.155Z",
        "mtime": "2018-01-12T02:01:35.155Z",
        "size": 91796
      },
      {
        "file": "images/natwild/userflow.png",
        "ctime": "2018-01-11T22:01:19.720Z",
        "mtime": "2018-01-11T22:01:19.720Z",
        "size": 191517
      },
      {
        "file": "images/natwild/users-mindmap.png",
        "ctime": "2018-01-12T02:36:20.209Z",
        "mtime": "2018-01-12T02:36:20.209Z",
        "size": 157417
      },
      {
        "file": "images/ux-portfolio/medium-peace.png",
        "ctime": "2018-01-11T08:42:48.835Z",
        "mtime": "2018-01-11T08:42:48.000Z",
        "size": 169977
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../css\"},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}