//- CONTENT
//- ====================================================
.container
	header
		h1 How I built the Naturally Wild website
	+articleintro("Neg",'Coming Soon','')
		.col-md-6
			p This writeup is incomplete!
			p Please admire the live site, and look at how I've organised the ~1,000 products.
			p The financial payback (aka ROI) from this site is huge, because each product now has its own page. The client's exposure to Google is therefore unprecedented for him. Some of the rarer items are getting very high search engine results. Also, it's now possible for people to actually purchase the products at their convenience.
			p The site is getting an order a day and the owner tells me: I know I could advertise now on Facebook and Google, but I've got too many orders already!
			p Please also admire the design work, though I started off with the <a href="https://themeforest.net/item/electro-gadgets-digital-responsive-shopify-theme/16544295?s_rank=15">"Electro Shopify Theme"</a> (note the differences).
			
			p This is the site: <a href="https://www.natwild.com.au" title="Naturally Wild Australia">www.natwild.com.au</a>
	.row.justify-content-center
		.col-md-10.col-xl-8
			+image('images/ux-portfolio/natwild-website.jpg','',"The finished website")
//- BOTTOM NAV
//- ====================================================
//-nav.navbar.navbar-expand.navbar-dark.fixed-bottom.bg-dark#navbot
//-		ul.navbar-nav
//-			+navli('#top',"Top")
//-			+navli('#Neg',"Neg'n")
//-			+navli('#UX',"UX")
//-			+navli('#Proto',"Proto")
//-			+navli('#End',"Final")
