//- FOOTER
//- ====================================================
footer.bg-info.text-white
	.container
		.jumbotron
			.row
				.col-sm-6
					ul.nav.flex-column
						h4 UI
						+navli(links.redcup+"#Proto","Red Cup Cafe's UI")(class="navfooter")
						+navli(links.natwild+"#UI","Naturally Wild's UI")(class="navfooter")
						+navli(links.githubpf,"This portfolio's UI (Github)")(class="navfooter")
						+navli(links.codepen,"JavaScript (Codepen)")(class="navfooter")
						+navli(links.marketing+"#design","Email design")(class="navfooter")
						h4 UX
						+navli(links.redcup+"#UX","Red Cup Cafe's UX")(class="navfooter")
						+navli(links.natwild+"#UX","Naturally Wild's UX")(class="navfooter")
						+navli("https://medium.com/@agapemedia/a-new-angle-to-ux-creating-peaceful-experiences-6d7ec8d286ff","A new angle to UX: creating peaceful experiences (Medium)")(class="navfooter")
						+navli("https://medium.com/@agapemedia/how-to-create-a-peaceful-user-experience-f51ec0090240","How to create a peaceful User Experience (Medium)")(class="navfooter")
						h4 IA
						+navli(links.natwild+"#IA","Naturally Wild's IA")(class="navfooter")
						+navli(links.ia,"Email, Evernote, & my 6th sense")(class="navfooter")
				.col-sm-6
					h4 Contact Nathan
					p Phone: <a href="tel:+61405990801">0405 990 801</a>
					p Email: <a href="javascript:location='mailto:\u006e\u0061\u0074\u0068\u0061\u006e\u0040\u0061\u0067\u0061\u0070\u0065\u006d\u0065\u0064\u0069\u0061\u002e\u0063\u006f\u006e\u0073\u0075\u006c\u0074\u0069\u006e\u0067';void 0"><script type="text/javascript">document.write('\u006e\u0061\u0074\u0068\u0061\u006e\u0040\u0061\u0067\u0061\u0070\u0065\u006d\u0065\u0064\u0069\u0061\u002e\u0063\u006f\u006e\u0073\u0075\u006c\u0074\u0069\u006e\u0067')</script></a>
					p LinkedIn: <a href="https://www.linkedin.com/in/nathankeenmelbourne/">linkedin.com/in/nathankeenmelbourne/</a>
//- JAVASCRIPT BEFORE BODY CLOSES
//- ====================================================
//-script FontAwesomeConfig = { searchPseudoElements: true };
//-script(defer,src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
//- Popper needed for Bootstrap dropdowns, tooltips and popovers
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",crossorigin="anonymous")
//- Bootstrap needed for Alerts, Buttons, Carousel, Collapse, Dropdowns, Modals, Navbar, Tooltips, Scrollspy
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js",integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ",crossorigin="anonymous")
//- My extra scripts
script(src="/js/custom.js")