/* Variables */

$pfGreen: #1ab268;
$pfPurple: #783d97;
$pfPurpleLight: #8f57a3;
$pfTan: #f8dfb7;
$font-heading: "Oswald",'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-body: 'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

/* Mixins */

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $size $color;
    -moz-box-shadow:inset $top $left $blur $size $color;
    box-shadow:inset $top $left $blur $size $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $size $color;
    -moz-box-shadow: $top $left $blur $size $color;
    box-shadow: $top $left $blur $size $color;
  }
  margin-bottom: $blur / 4; //so the caption isn't caught in it
}
/* @include box-shadow(1px,1px,20px,0, rgba(0,0,0,0.2), false); */

h1,h2,h3,h4,h5,h6 {
	font-family: $font-heading;
}
/* Backgrounds */

.bgdark {
	background: linear-gradient(to bottom left, $pfPurpleLight, $pfPurple);
	color: white;
	a {
	color: $pfGreen;
	border-color: $pfGreen;
	}
	.card {
	color: black;
		a {
		color: white;
		border: none;
		}
	}
	.figure-caption {
	color: white;
	}

}

.bglight {
	background: linear-gradient(to bottom right, $pfTan 10%, $pfGreen);
	color: black;
}

.bgdark, .bglight {
	padding-bottom: 4rem;
}

/* Nav settings  */
body { //if fixed to top, move the body down
  min-height: 75rem;
  padding-top: 3.5rem;
  position: relative;
  font-family: $font-body;
}

a {
	color: black;
	border-bottom: 1px dashed black;
	text-decoration: none;
}

a:hover, a:active {
	color: #ffc107;
	border-bottom-color: #ffc107;
	text-decoration: none;
}

nav a {
	border-bottom: none;
}

/*
@media (max-width: 576px) { //on mobiles, fix nav to bottom
  .fixed-top {
  top: initial;
  bottom: 0;
  }
  body {
  padding-top: 0;
  }
}
*/
section {
    padding: 2em 0;
}
.card-header figure {
	margin: 0;
}
.card {
	margin: 1rem 0;
	border: 0;
	padding: 1.5rem;
}

.card-header {
    background-color: inherit;
    border-bottom: none;
    text-align: center;
    font-weight: bold;
}

.vertcentre {
	flex-direction: row;
	align-items: center;
}

footer {
	padding-top: 2rem;
	.jumbotron {
		margin-bottom:0;
		background-color:inherit;
	}
	a {
	color: #f8f9fa;
	border-bottom: none;
	}
}
a[href^="http://"]::after, a[href^="https://"]::after { 
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content:"\f35d";
	margin-left: 3px;
}
.anchor {
    padding-top: 4rem;
}
.fa-external-link-alt {
    margin-left:3px;
}
img.img-responsive {
	width:100%;
}
// Star Ratings
/*div.skills {
	margin: 2rem;
}*/

$table-star-width: 100%;

table#stars {
	background-color: initial;
	max-width: $table-star-width;
	margin: 0 auto;
	td:nth-child(1) {
		width: 20%;
		min-width: 200px;
	}
	td:nth-child(2) {
		min-width:120px;
		text-align:center;
	}
	td:nth-child(3) {
		max-width:200px;
	}
	td:nth-child(4) {
		min-width: 250px;
		white-space: nowrap;
	}
	.badge {
		//white-space: initial;
	}
}

.table-responsive {
	/* Scrolling shadows by @kizmarh and @leaverou */
}

//Hide the explanation column on smaller screens
@media (max-width: 750px) {
 table#stars {
	td:nth-child(3) {
		display:none;
	}
 }
}

table#tshaped {
	text-align: center;
	td {
		vertical-align: middle;
		border: 1px solid black;
	}
	td.empty {
		border: 0;
	}
}

// Articles
.fa-quote-left {
    margin-right: 10px;
}

// Navigation
#navbot .navbar-nav {
	margin: 0 auto;
}

//Blog posts
.post-meta {
	text-transform: uppercase;
	margin-bottom: 18px;
	padding-bottom: 10px;
	font-size: 12px;
	border-bottom: 1px solid #F5F5F5;
}

// Timeline START
.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
	z-index: -1;
}

.timeline .separator {
    border-top: 4px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: 1.2em;
    margin-left: 30px;
	margin-top: 3em;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

.timeline .card {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .card::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline article.bg-primary.card::before {
  border-right-color:#007bff;
}

.timeline article.bg-info.card::before {
  border-right-color:#17a2b8;
}

.timeline .card .card-header.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .card .card-header.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .card-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .card-outline .card-body {
    padding: 10px;
}

.timeline .card-outline .card-heading:not(.icon),
.timeline .card-outline .card-footer {
    display: none;
}

.timeline .card-body span {
	white-space: nowrap;
}

// Timeline END

// images
img.shadow {
	@include box-shadow(0px,0px,20px,0, rgba(0,0,0,0.2), false);
}
.horizontalimage {
	overflow-x: scroll;
	white-space: nowrap;
	width: 100%;
	img {
		height: 100%;
		max-width: initial;
	}
}

.divright {
	width:1px;
	height:1px;
	position:relative;
	left:1000px;
}